.articles-list {

  button{
    position: absolute;
    top: 470px;
    left:215px;
    z-index: 3;
    background-color: $color-vert;
    border:none;
    padding: 3px;
    border-radius: 3px;
    color:$color-presqnoir;
  }
}


  article{

width: 300px;
    background: $color-noir;
    height:500px;
    padding-left: 5px;



  }




//mobile
.articles-list {
  article{
  border: $color-bleu 2px solid;
    border-radius: 6px;
    margin-bottom: 2vh;
    padding-left: 5px;

}
//article:hover{
//  background: $color-blanc;

//}
}
@media screen and (min-width: $vw-medium){
  .articles-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


  }
  .articles-list article {
    margin: 10px;
    padding-left: 5px;
  }



}
@media screen and (max-width: $vw-medium){
  .articles-list{
    article{
      padding-left: 5px;
    //  margin: 20px auto;
    }

  }

}


//fancy hover
.fancyhov {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  background: #700877;
  //background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  //background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
  //background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
}

.fancyhov img,
.fancyhov:before,
.fancyhov:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.fancyhov img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.fancyhov:before,
.fancyhov:after {
  content: '';
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fancyhov:before {
  width: 60px;
  height: 1px;
  left: 100%;
}

.fancyhov:after {
  height: 60px;
  width: 1px;
  top: 0%;
}

.fancyhov a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.fancyhov:hover img,
.fancyhov.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.fancyhov:hover:before,
.fancyhov.hover:before,
.fancyhov:hover:after,
.fancyhov.hover:after {
  opacity: 1;
  top: 50%;
  left: 50%;
}

//https://www.littlesnippets.net/snip1561