.artcl-hander{
  background-color: $color-mauve;
margin:1vw;
border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items:center;
width:95vw;

  img{
    margin-top: 10px;
    max-height:150px;
    max-width:150px;
border-radius: 50%;
  }

 div{
   display: flex;
   justify-content: center;

 }
}
@media screen and (min-width: $vw-large) {
  .artcl-hander{

    width:350px
  }


}