footer {
  position: static;

  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  div div {
    background-color: $color-mauve;
    border: $color-bleu solid 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 15px;

    }
  }
  button{

    background-color: inherit;
    border: none;
  }

}
.ftr-inscr{
  margin-top: 500px;
}

@media screen and(max-width: $vw-small) {
  footer div div {
    width: 50px;
    height: 50px;
    border: $color-bleu solid 5px;
    margin: 5px;

  }
  svg {
    fill: $color-bleu;
    width: 35px;
    height: 40px

  }
  small {
    font-size: rem(14);
    margin-left: 20px;
    margin-top: 5px;
  }
}

