.sectionInscription{
  max-width: 1200px;
margin:20px auto;
  height:500px;

  .header-inscription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-bleu;

    padding:0 48%;

  }
fieldset{
//  height:100px;
border:1px $color-vert solid;
  background-color: $color-presqnoir;
  border-radius: 10px;


}
  ol{
    color:$color-vert;

    max-width:300px;

    display: flex;
    //flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin:0 auto;
    li{
    margin:2px;



      input{
        max-width:120px;
        padding:15px;
        margin: 20px 0;

        border-radius: 4px;
        border: none;
        background-color: $gray-800;
      }
      #profilepic{
        max-width:900px;
        width:300px;

      }
  }
  }

  fieldset button{

width:50%;

  margin:0 50%;

  padding:5px;
  height:50px;
  border-radius: 6px;
  border:none;
  background-color: $color-rose;
  color:$color-blanc;
  font-size: rem(20);
}

}
