.fenestre-connection{
width:100vw;
  height:100vh;
position:fixed;
  top:0;
  left:0;
  z-index: 69;
  background-color: rgba(50,50,50,0.5);



}
.fen-none{

 display:none;
}
.fen-block{
 display:flex;
  justify-content: center;
  align-items: center;

}
.modale-contents{

  //max-width:900px;
legend{
  color:$color-vert;
  font-size: $fz-h5;
}


  form fieldset{
    border:2px $color-vert solid;
    padding:5px;
    width:600px;
    border-radius: 2px;
    background-color: $color-noir;
ol{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height:300px;
  li{
    align-self:center;

    input{
      padding: 10px;
      border:1px solid $color-presqnoir;
      background-color: $color-noir;
      color:$color-mauve;
    }
    label{
      color:$color-bleu;
      font-size: $fz-normal;
    }
  }

}
    //--
    button{
    border:none;
      padding:5px 20% ;
      background-color: $color-bleu;
      color:$color-noir;
      margin:5px 5px 5px 50%;
border-radius: 5PX;


  }


  }
}