.headerpage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-bleu;


  h1{
a {
  font-size: rem(20);
}
  }
  // h2{
  //  font-family: $ff-Ps;
  // }
  nav {


    li {
      margin-left: 20px;
      list-style-type: none;
    }

   // a{
//
    // color:$Bermuda-Gray;
   // }


  }

  .show-menu {

  }

  .login {
    display: none;
  }

  .toggle-menu {
  display: none;
  }

  .toggle-menu:checked + ul {
    //display: block;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width:100%;
    position: absolute;
    top: 100px;
    right:0;
    background-color: $color-bleu;
  }
  i{
    display: block;
    width:15%;
    margin-right: 10px;
  }

svg{
  display: block;
  height:60px;
  fill: $color-blanc;
  margin-right: 6px;

}
  ul {
    display: none;
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;


    li:hover {
      background-color: lighten($color-bg-dark, 25%);
    }

    li:hover ul {
      display: block;
    }

    li ul {
      //display: none;

      list-style: none;
      padding: 0;
    }

    //.material-icons {
    //  color:$Bermuda-Gray;
    //}

  }

  a {
    display: block;
    padding: 10px;
  }
}

@media screen and (min-width: $vw-large) {
  .header-page {
.hamburger{
  //display:none;
}
    svg{
      //display:none;
    }
    height:55px;

    ul {

     // display: flex;
    //  justify-content: center;
    //  align-items: center;
    }
    h1 {
      a {
         font-size: rem(50);
      }
    }

    nav>label>i>svg{

      height: 50px;
    }
    nav.main-nav {
      flex-direction: row;
      justify-content: space-between;




      ul.main-menu {
        display: flex;
        width: auto;

        li {
          position: relative;

          ul {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $color-bg-dark;
          }

        }
      }




    }

    .show-menu {
      display: none;
    }
  }
}























/*.headerpage{
  background: $color-bleu ;
  display: flex;
  justify-content: space-between;

  h1{

  }
nav ul{
  display: flex;
  margin-left: 3vw;
}
}*/