.profilecontents{
  padding: 20px;


  a{
    padding: 10px;
    background-color: $color-bleu;
    text-decoration: none;
    width:20%;
    height:30px;
    border-radius: 9px;

  }
  a:hover{
    text-decoration: none;
  }
}

.pr-row{
  display: flex;
   justify-content: space-around;
   width:70%;
   margin: 0 auto;
  .profilepic{

border-radius: 50%;
    width:150px;
    height:150px;
  }
  p{
    max-width:80px;
    text-align: center;


  }

}