.hero{
  background: url("../images/image_cgxlq3_c_scale,w_360.jpg");
height: 300px;

  display: flex;
  justify-content: center;//mobile
  align-items: center;//mobile

  h2{
    text-align: center; //mobile


  }
}

.hero:hover{
  filter: blur(8px);
  transition-duration: 0.5s

}

@media screen and (min-resolution:192dpi){

  background-image: url("../images/image_cgxlq3_c_scale,w_1440.jpg");
}


@media screen and (min-width: $vw-medium) {
  .hero{

    background: url("../images/image_cgxlq3_c_scale,w_821.jpg") center/cover no-repeat;
    height:400px;

    @media screen and (min-resolution:192dpi){

      background-image: url("../images/image_cgxlq3_c_scale,w_1709.jpg");
    }
  }

}

@media screen and (min-width: $vw-large) {
  .hero{

    background: url("../images/image_cgxlq3_c_scale,w_1158.jpg") center/cover no-repeat;
    height:400px;

    @media screen and (min-resolution:192dpi){

      background-image: url("../images/image_cgxlq3_c_scale,w_2048.jpg");
    }
  }

}

