


//MIXIN POUR AJOUTER LA TYPOGRAPHIE
@mixin font($family, $size: 'inherit', $color: #000, $line-height: 1.2) {
  font-family: $family;
  font-size: $size;
  color: $color;
  line-height: $line-height;
}